.juiz-outdated-message {
	margin: 1em 0;
	padding: 10px 15px;
	background: #FFF;
	color: #666;
	line-height: 1.4;
	font-size: 1em;
	box-shadow: 1px 1px 4px rgba(0,0,0,.1);
}
.jodpm-top {}
.jodpm-bottom {}